In [33]:
import pandas as pd
import geopandas as gpd

In [2]:
segnet = pd.read_csv('segnetClassCount.csv')

In [3]:
segnet.shape

(12317, 35)

In [4]:
segnet

,Unnamed: 0,SEG_ID,pointId,Animal,Archway,Bicyclist,Bridge,Building,Car,CartLuggagePram,...,SUVPickupTruck,TrafficCone,TrafficLight,Train,Tree,Truck_Bus,Tunnel,VegetationMisc,Void,Wall
0,0,641548,10394,4,57,513,3961,185859,6573,0,...,2763,10,22,0,256615,1525,0,211069,95643,49352
1,0,640416,1313,1,0,2348,3583,339775,6591,3,...,8303,0,7,0,191244,1631,0,54069,66082,52980
2,0,620130,7230,1,37,1012,143,179598,9079,56,...,2222,126,407,0,146165,2195,0,206713,136329,12554
3,0,401340,9336,0,0,1454,733,204396,27068,257,...,3830,0,1,0,63243,7148,0,64959,84051,35284
4,0,761434,6817,8,9,75,876,127222,51155,0,...,5028,121,25,0,195356,4110,0,140999,124267,4872
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12312,0,762729,9793,0,10,140,816,21628,10923,0,...,4305,0,1,0,219913,5455,0,144453,82498,4792
12313,0,420928,9032,22,0,1788,149,146719,34561,1,...,4588,88,169,0,173778,2732,0,67933,120717,44371
12314,0,641818,3436,30,0,4519,198,283166,34080,29,...,1073,8,4,0,135832,142,0,51242,65817,56842
12315,0,820541,10376,0,9,26,136,66661,514,0,...,141,189,5,0,205619,9,0,395558,32781,3165
12316,0,742536,10887,0,0,1196,1047,14691,63900,1,...,1895,142,0,0,312127,1181,0,159821,73327,6530

In [5]:
segnet.drop(columns=['Unnamed: 0', 'SEG_ID','pointId']).columns

Index(['Animal', 'Archway', 'Bicyclist', 'Bridge', 'Building', 'Car',
       'CartLuggagePram', 'Child', 'Column_Pole', 'Fence', 'LaneMkgsDriv',
       'LaneMkgsNonDriv', 'Misc_Text', 'MotorcycleScooter', 'OtherMoving',
       'ParkingBlock', 'Pedestrian', 'Road', 'RoadShoulder', 'Sidewalk',
       'SignSymbol', 'Sky', 'SUVPickupTruck', 'TrafficCone', 'TrafficLight',
       'Train', 'Tree', 'Truck_Bus', 'Tunnel', 'VegetationMisc', 'Void',
       'Wall'],
      dtype='object')

In [61]:
totalPixels = segnet.drop(columns=['Unnamed: 0', 'SEG_ID','pointId']).sum(axis=1)[0]

In [28]:
segnetPercentage = segnet.applymap(lambda x:(x/totalPixels))
segnetPercentage = segnetPercentage.drop(columns=['Unnamed: 0', 'SEG_ID','pointId'])

In [45]:
combined = pd.merge(segnet[segnet.columns[0:3]], segnetPercentage,left_index=True, right_index=True)
combined = combined.drop('Unnamed: 0',axis=1)
# combined["id"] = combined.apply(lambda r: f'{int(r["SEG_ID"])}{int(r["pointId"]):0<6d}',axis=1)
combined.pointId = combined.pointId.map("{:0>6d}".format)
combined.head()

,SEG_ID,pointId,Animal,Archway,Bicyclist,Bridge,Building,Car,CartLuggagePram,Child,...,SUVPickupTruck,TrafficCone,TrafficLight,Train,Tree,Truck_Bus,Tunnel,VegetationMisc,Void,Wall
0,641548,010394,3.814697e-06,0.000054,0.000489,0.003778,0.177249,0.006269,0.000000,2.861023e-06,...,0.002635,0.000010,2.098083e-05,0.0,0.244727,0.001454,0.0,0.201291,0.091212,0.047066
1,640416,001313,9.536743e-07,0.000000,0.002239,0.003417,0.324035,0.006286,0.000003,0.000000e+00,...,0.007918,0.000000,6.675720e-06,0.0,0.182384,0.001555,0.0,0.051564,0.063021,0.050526
2,620130,007230,9.536743e-07,0.000035,0.000965,0.000136,0.171278,0.008658,0.000053,5.626678e-05,...,0.002119,0.000120,3.881454e-04,0.0,0.139394,0.002093,0.0,0.197137,0.130013,0.011972
3,401340,009336,0.000000e+00,0.000000,0.001387,0.000699,0.194927,0.025814,0.000245,0.000000e+00,...,0.003653,0.000000,9.536743e-07,0.0,0.060313,0.006817,0.0,0.061950,0.080157,0.033649
4,761434,006817,7.629395e-06,0.000009,0.000072,0.000835,0.121328,0.048785,0.000000,9.536743e-07,...,0.004795,0.000115,2.384186e-05,0.0,0.186306,0.003920,0.0,0.134467,0.118510,0.004646

## combine variables
Defence : Column_Pole + Fence + Wall + TrafficCone

Lives : Animal + Bicyclist + Child + Pedestrain + MotorcycleScooter + otherMoving

Building : Archway + Building

Infrastructure : Bridge + ParkingBlock + Train + Tunnel

Road : Road + RoadShoulder + 'LaneMkgsDriv'+ 'LaneMkgsNonDriv'

Sidewalk

Sky

Green : Tree + VegetationMisc

Transportation : Car + SUVPickupTruck + Truck_Bus

PublicService: CartLuggagePram + SignSymbol + TrafficLight

Delete:
Void +  'Misc_Text',

In [47]:
combined_variables = combined[['SEG_ID','pointId']].copy()

In [48]:
combined_variables['wall'] = combined.Column_Pole + combined.Fence + combined.Wall + combined.TrafficCone
combined_variables['lives'] = combined.Animal + combined.Bicyclist + combined.Child + combined.Pedestrian +combined.MotorcycleScooter +combined.OtherMoving
combined_variables['building'] = combined.Building + combined.Archway 
combined_variables['infrastructure'] = combined.Bridge + combined.ParkingBlock + combined.Train + combined.Tunnel
combined_variables['road'] = combined.RoadShoulder + combined.LaneMkgsDriv + combined.Road + combined.LaneMkgsNonDriv
combined_variables['sidewalk'] = combined.Sidewalk 
combined_variables['sky'] = combined.Sky 
combined_variables['green'] = combined.Tree + combined.VegetationMisc 
combined_variables['transportation'] = combined.Car + combined.SUVPickupTruck + combined.Truck_Bus 
combined_variables['publicservice'] = combined.CartLuggagePram + combined.SignSymbol + combined.TrafficLight

In [49]:
combined_variables

,SEG_ID,pointId,wall,lives,building,infrastructure,road,sidewalk,sky,green,transportation,publicservice
0,641548,010394,0.053752,0.000537,0.177303,0.028202,0.025004,0.006639,0.110796,0.446018,0.010358,4.577637e-05
1,640416,001313,0.057137,0.003493,0.324035,0.018373,0.012915,0.000607,0.266202,0.233949,0.015759,7.057190e-05
2,620130,007230,0.014683,0.004955,0.171313,0.006374,0.121705,0.024198,0.146035,0.336531,0.012871,4.625320e-04
3,401340,009336,0.043320,0.003043,0.194927,0.014915,0.191011,0.037329,0.263373,0.122263,0.036283,4.024506e-04
4,761434,006817,0.007364,0.000405,0.121337,0.035592,0.058296,0.000583,0.245000,0.320773,0.057500,4.100800e-05
...,...,...,...,...,...,...,...,...,...,...,...,...
12312,762729,009793,0.009238,0.000217,0.020636,0.046044,0.166078,0.013127,0.293167,0.347486,0.019725,9.536743e-07
12313,420928,009032,0.074213,0.007941,0.139922,0.006327,0.095427,0.023943,0.262904,0.230514,0.039941,2.222061e-04
12314,641818,003436,0.062829,0.007551,0.270048,0.007198,0.138814,0.034434,0.199921,0.178408,0.033660,6.961823e-05
12315,820541,010376,0.004040,0.000026,0.063581,0.014425,0.191532,0.023446,0.029161,0.573327,0.000633,3.337860e-05
12316,742536,010887,0.010653,0.001319,0.014010,0.018440,0.106858,0.007105,0.214971,0.450085,0.063873,8.583069e-06

In [50]:
points = gpd.read_file("../streetViewPoints.geojson")

In [51]:
points = points.to_crs(4326)

In [54]:
points

         fid  SEG_ID pointId                    geometry
0          1  420708  000001  POINT (-75.16460 39.95994)
1          2  422065  000002  POINT (-75.16357 39.96050)
2          3  420702  000003  POINT (-75.16619 39.96013)
3          5  420696  000004  POINT (-75.16776 39.96033)
4          8  422066  000005  POINT (-75.16672 39.96089)
...      ...     ...     ...                         ...
12312  24861  423467  012313  POINT (-75.19385 39.95761)
12313  24863  522448  012314  POINT (-75.15766 40.00221)
12314  24868  240821  012315  POINT (-75.16788 39.90467)
12315  24869  240822  012316  POINT (-75.16553 39.90436)
12316  24872  423473  012317  POINT (-75.19504 39.95630)

[12317 rows x 4 columns]

In [58]:
points = points.merge(combined_variables,on=['SEG_ID','pointId'])

In [60]:
points.to_file("../pointsWithSeg.geojson", driver="GeoJSON")